h1 {
	font-size:2.25em;
}

h2 {
	font-size:1.75em;
}

html {
	background-color:#d9d9d9;
	color:#404040;
    	font-family: 'Open Sans', sans-serif;
	font-size:1.25em;
}

p {
	text-align:left;
}

.container {
	width:50%;
	text-align:center;
	margin: 0 auto;
}
